<div id="menuPrincipal" class="menuPrincipal">
  <!-- <a href="#" class="botonMenu"><img src="../static/img/iconoMenu.png"></a> -->
</div>

<nav class="menuP">
  <ul class="opciones">
    <li class="lista"><a class="enlace apareceDesaparece" href="index.html">Inicio</a></li>
    <li class="lista"><a class="enlace apareceDesaparece" href="conocenos.html">Conocenos</a></li>
    <li class="lista"><a class="enlace apareceDesaparece" href="servicios.html">Servicios</a></li>
    <li class="lista"><a class="enlace apareceDesaparece" href="eventos.html">Eventos</a></li>
    <li class="lista"><a class="enlace apareceDesaparece" href="contacto.html">Contacto</a></li>
  </ul>
</nav>

