<div class="tabla">
  <div class="contenedor">
    <div class="cont-tabla">
      <table class="evento">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Celebración</th>
            <th>Evento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Enero</td>
            <td>Reis Magos</td>
            <td>Cabalgata</td>
          </tr>
          <tr>
            <td>Febrero</td>
            <td>Carnaval</td>
            <td>Máscaras</td>
          </tr>
          <tr>
            <td>Julio</td>
            <td>Vacacións</td>
            <td>Playita</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="img-tabla">
      <img class="imagenTabla" src="../src/static/img/galeriaIvan/114.JPG" alt="Ivan en Covadonga">
    </div>
  </div>
</div>