<header class="cabeceraPagina">

    <div class="fondoCabecera">

        <div class="contenidoCabeza">

            <nav class="redesSociales">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-square"></i></a>
                <a href="#"><i class="fab fa-youtube-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </nav>
            <!--* Fin .nav redesSociales *-->

            <div class="localizacion">
                <i class="fas fa-calendar-alt"></i>
                <p class="fecha">Fecha</p>
                <i class="fas fa-map-marker-alt"></i>
                <p class="ciudad">Milladoiro</p>
            </div>
            <!--* Fin .div localizacion *-->

            <div class="descripcionSitio">
                <h1 class="nombreSitio">Cosco Caracol</h1>
                <p class="subtituloSitio">La mejor página web de <span>curiosidades</span></p>
            </div>
            <!--* Fin .div descripcionSitio *-->

        </div>
        <!--* Fin .div contenidoCabeza *-->
    </div>
    <!--* Fin .div fondoCabecera *-->
</header>
<!--* Fin .header CabeceraPagina *-->