<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- * Agrega compatibilidad con Internet Explorer 8 * -->
  <meta name="description" content="Cosco Caracol. La mejor web sobre viajes donde lo curioso destaca">
  <meta name="keywords" content="Cosco Caracol, viajes, curiosidades">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <title>Cosco Caracol</title>
  <link rel="Shortcut Icon" href="./static/img/ico/favicon.ico" type="image/x-icon" />

  <script src="https://kit.fontawesome.com/e21184ac9b.js" crossorigin="anonymous"></script>
</head>

<body>
  <noscript>
    Se Necesita habilitar JavaScript para ejecutar esta aplicación.
  </noscript>

  <div id="root"></div>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

</body>

</html>