.articuloPrincipal {
  padding-top: 2em;
  text-align: center;
  border-bottom: .5em dotted $colorBordeArticulo;
  margin-bottom: 1em;
}

.tituloArticuloPrincipal {
  font-size: 3em;
  padding-bottom: 1em;
}

.parrafoArticuloPrincipal {
  font-size: 2em;
  margin-bottom: 2em;
}

.autoria {
  font-size: 1.8em;
  padding-bottom: 1em;
}