$colorFondoPagina: linear-gradient(to top, rgba(207, 217, 223, 1) 0%, rgba(226, 235, 240, 1) 100%);
$colorMenuPrincipal: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
$colorEnlacesMenuPrincipal: rgb(58, 15, 251);
$colorEnlacesMenuPrincipalHover: rgb(222, 218, 240);
$colorTituloPagina: rgb(238, 162, 22);
$colorFondoTabla: rgb(226, 228, 200);
$colorPiePagina: rgba(131, 128, 127, 0.6);
$colorBordeArticulo: rgba(254, 73, 24, .6);




$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'PT Sans', sans-serif;
$fuenteTerciaria: 'Oswald', sans-serif;





$colorCorporativa: rgba(244, 250, 88, 1);



$colorContenidoSecundario: rgba(254, 73, 24, 1);
$colorLateral: rgb(0, 255, 255);






$colorFondoLateral1: linear-gradient(-45deg, rgb(255,81,23), #ff34c8);




$anchoRedes: 20%;
$anchoLocalizacion: 70%;





